        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a routerLink="./inicio" class="nav-link align-middle px-0" >
                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Inicio</span>
                </a>
            </li>
            <li>
                <a routerLink="listado" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-speedometer2"></i> Listado Estudiantes </a>
              </li>
                    <li class="w-100">
                        <a routerLink="buscar" class="nav-link px-0"> Buscar</a>
                    </li>
                    <li>
                        <a routerLink="agregar" class="nav-link px-0"> Agregar</a>
                    </li>
                    <li>
                        <a routerLink="modificar" class="nav-link px-0"> Modificar</a>
                    </li>
     </ul>
